<div class="checkbox-container form-group has-feedback">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="<%= id %>">
        <input type="checkbox" id="<%= id %>" class="mdl-checkbox__input"<%= disabled ? ' disabled' : '' %><%= checked ? ' checked' : '' %>>
        <span class="mdl-checkbox__label"><%= label %></span>
    </label>
</div>